@import '../../../../variables.scss';

:host {
    background: $header_bgcolor;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

.header {
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    //height: 100px;
}

.logo {
    margin: 10px;
    //padding: 10px;
    font-size: 36px;
}

.menu {

    
}

button {
    margin: 10px;
}

.acIcon {
    font-size: 24px;
}

.folderIcon {
    font-size: 24px;
}