<h1>Customers list: <button mat-flat-button routerLink="/admin/customers/add">Add new customer <mat-icon>add</mat-icon></button></h1>


<!-- TODO
    
    
    <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Gdańsk" #input>
</mat-form-field> -->
  
  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        API rate limit has been reached. It will be reset in one minute.
      </div>
    </div>
  
    <div class="example-table-container">
  
      <table mat-table [dataSource]="dataSource" class="example-table"
             matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="idClass">Id</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="nameClass">Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="cityClass">City</th>
          <td mat-cell *matCellDef="let element">{{element.city}}</td>
        </ng-container>
  
        <ng-container matColumnDef="inspected">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="inspectedClass">Inspected</th>
          <td mat-cell *matCellDef="let element">{{element.inspected}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="actionsClass">Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [routerLink]="['/admin/customers/update', element.id]">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
    <mat-paginator 
    [length]="totalElements" 
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of customers"></mat-paginator>
  </div>
  
  
  
