<h1>Customer</h1>
  
    <div class="customer_info">
        
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Name: {{customer.name}}</mat-card-title>
            <mat-card-subtitle>{{customer.id}}</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
            <div class="address">
                <div class="bigText">
                    {{customer.city}}
                </div>
            </div>
            <div class="airConNumber">
                <div class="littleText">
                    Air-conditioners
                </div>
                <div class="bigText">
                    {{customer.units}}
                </div>
            </div>
            <div class="inspected">
                <div class="littleText">
                    Inspected
                </div>
                <div class="bigText">
                    {{customer.inspected}}
                </div>
            </div>
        </mat-card-content>