<h1>Customer details</h1>

<div class="customerInfo">

  <div class="personalInfo">

    <div class="example-header-image">
      <img src='../../../assets/header-image-placeholder.png'>
    </div>

    <div class="bigText">Id: {{customer.id}}</div>
    <div class="bigText">Name: {{customer.name}}</div>

    <div class="address">
      <div class="bigText">
        City: {{customer.city}}<br>
        Street: {{customer.street}}
      </div>
    </div>
    <div class="airConNumber">
      <div class="bigText">
        Units no.: {{customer.units}}
      </div>
    </div>
    <div class="inspected">
      <div class="bigText">
        Inspected: {{customer.inspected}}
      </div>
    </div>

  </div>

  <div class="acunitsList">
    <div *ngFor="let acunit of customer.acUnits" class="acunit">
      <div>Model: {{acunit.model}}</div>
      <div>Power: {{acunit.power}}</div>
      <div>Serial Number: {{acunit.serialNumber}}</div>
      <div>Instalation Date: {{acunit.instalDate}}</div>
    </div>
  </div>
</div>