<footer>
    <div class="footerMenu">
        <div class="footerColumn">
            <div>Kategorie</div>
            <ul>
                <li>Kategoria 1</li>
                <li>Kategoria 2</li>
            </ul>
        </div>
        <div class="footerColumn">
            <div>O firmie</div>
            <ul>
                <li>O firmie 1</li>
                <li>O firmie 2</li>
            </ul>
        </div>
        <div class="footerColumn">
            <div>Pomoc</div>
            <ul>
                <li>Pomoc 1</li>
                <li>Pomoc 2</li>
            </ul>
        </div>
</div>
<div class="footerCopy">
    &copy; CRM system 2022
</div>
</footer>