<h1>Customers</h1>
<mat-card *ngFor="let customer of page.content">
    
    <div class="example-card">
        
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title><a routerLink="{{'/customers' + customer.id}}">{{customer.name}}</a></mat-card-title>
            <mat-card-subtitle>Private</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
            <div class="address">
                <div class="bigText">
                    {{customer.city}}
                </div>
            </div>
            <div class="airConNumber">
                <div class="littleText">
                    Air-conditioners
                </div>
                <div class="bigText">
                    {{customer.units}}
                </div>
            </div>
            <div class="inspected">
                <div class="littleText">
                    Inspected
                </div>
                <div class="bigText">
                    {{customer.inspected}}
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions align="end">
            <div class="actionButtons">
                <a routerLink="{{'/customers' + customer.id}}"><button mat-button>DETAILS</button></a>
                <button mat-button>UNITS</button>
                <button mat-button>DELETE</button>
            </div>
        </mat-card-actions>
    </div>
</mat-card>
<mat-paginator 
            [length]="page.totalElements" 
            [pageSize]="10" 
            [pageSizeOptions]="[5, 10, 25, 100]" 
            aria-label="Select page"
            (page)="onPageEvent($event)">
</mat-paginator>